body{
    background-color: #171717;
}
footer{
    position: relative;
    width: 120%;
    background-color: black;
    height: 160px;
    left: -100px;
    top: -10px;
}
.senacine{
    position: relative;
    width: 140px;
    left: 250px;
    top: 20px;
}
.prog{
    position: relative;
    color: white;
    left: 500px;
    top: -50px;
    font-size: 20px;
}
.filmes{
    position: relative;
    color: white;
    left: 900px;
    top: -72px;
    font-size: 20px;
}
.comidas{
    position: relative;
    color: white;
    left: 1200px;
    top: -94px;
    font-size: 20px;
}
.cadastro{
    position: relative;
    color: white;
    left: 1500px;
    top: -115px;
    font-size: 20px;   
}
.card{
    position: relative;
    width: 260px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden; 
    background-color: aliceblue;
    top: 10px;
    left: 30px;
}
.pipoca{
    width: 262px;
    position: relative;
    left: 0px;
    border-radius: 30px;
}
.titulo{
    left: 65px;
    position: relative;
    font-size: 20px;
}
span{
    position: relative;
    left: 64px;
}
button{
    position: relative;
    top: 50px;
    left: -56px;
    width: 100px;
}
.card-2{
    position: relative;
    width: 260px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden; 
    background-color: aliceblue;
    left: 400px;
    top: -339px;
}
.pipoca-2{
    width: 152px;
    position: relative;
    left: 50px;
    border-radius: 30px;
}
.card-3{
    position: relative;
    width: 260px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden; 
    background-color: aliceblue;
    left: 740px;
    top: -687px;
}
.pipoca-3{
    width: 162px;
    position: relative;
    left: 50px;
    border-radius: 30px;
}
.titulo-2{
    position: relative;
    left: 87px;
}